common * {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #292929;
  font: 1.2em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

section {
  padding: 50px 0;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* components */

.task-title {
  font-size: 20px;
  font-style: italic;
  font-weight: 500;
  text-decoration: underline;
  margin-bottom: 100px;
}

.container {
  width: 1440px;
  margin: 0 auto;
  padding: 0px 40px;
}

.module-title {
  text-align: center;
}

.number-container {
  display: flex;
  flex-wrap: wrap;
}

.number {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 700;

  margin: 5px;
}

.even {
  background-color: #8bc34a;
}

.odd {
  background-color: #ffed3b;
}

/* form styles */
.contact-form {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}
.contact-form-input {
  height: 40px;
  border: 1px solid #cccccc;
  padding-left: 20px;
  margin-bottom: 20px;
}

.contact-form-btn {
  margin-top: 20px;
}

.success {
  outline: 3px solid greenyellow;
}

.error {
  outline: 3px solid red;
}

span {
  text-decoration: underline;
}

/* Box */
.box {
  width: 50px;
  height: 50px;
  border: 2px dashed red;
  margin: 10px;
}

/* ! */

body {
  font-family: Arial, sans-serif;
  max-width: 600px;
  margin: 40px auto;
  text-align: center;
}
input {
  padding: 10px;
  width: 60%;
  font-size: 18px;
  margin-bottom: 20px;
}
button {
  padding: 10px 20px;
  font-size: 18px;
}
#weather {
  margin-top: 30px;
  font-size: 24px;
}
.error {
  color: red;
}

/* !!!!!!!!! */

.gallery {
  display: grid;
  /* Створюємо 3 рівні колонки */
  grid-template-columns: repeat(3, 1fr);
  /* Створюємо 2 рядки по 300px (висоту можна змінити) */
  grid-template-rows: repeat(2, 300px);
  /* Відстань між фото */
  gap: 10px;
}

.gallery__link {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: block; /* Важливо, щоб посилання займало всю клітинку */
}

.gallery__img {
  width: 100%;
  height: 100%;
  /* Щоб картинки не розтягувались, а заповнювали простір */
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease; /* Додамо трохи ефекту при наведенні */
}

.gallery__img:hover {
  transform: scale(1.02); /* Легке збільшення при наведенні */
}
/* СНІГ */
#snow {
  position: fixed;
  inset: 0;
  z-index: 9999;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
